:root {
  --primary-color: #2c3e50;
  --secondary-color: #1abc9c;
  /*--background-color: #ecf0f1;*/
  --text-color: #34495e;
  --border-radius: 10px;
  --input-border-color: #bdc3c7;
  --sidebar-bg-color: #34495e;
  --hover-color: #1abc9c;
  --btn-hover-opacity: 0.85;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Vazir', sans-serif;
  direction: rtl;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--sidebar-bg-color);
  transition: transform 0.3s ease;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--secondary-color);
  border-bottom: 2px solid var(--hover-color);
}

.nav-link {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border-radius: var(--border-radius);
  transition: background-color 0.3s, transform 0.3s ease;
}

.nav-link:hover {
  background-color: var(--hover-color);
  transform: translateX(-10px);
}

.main-content {
  padding: 2rem;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.5s ease;
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.form-control {
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border-color);
  padding: 0.75rem;
}

.btn-primary, .btn-success {
  border: none;
  transition: transform 0.3s, opacity 0.3s;
}

.btn-primary:hover, .btn-success:hover {
  transform: scale(1.05);
  opacity: var(--btn-hover-opacity);
}

.list-group-item {
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

canvas {
  max-width: 100%;
  height: auto;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#bmiChart {
  width: 300px;  /* Adjusted size for the chart */
  height: 200px; /* Adjusted size for the chart */
  margin: auto;  /* Center the chart */
}