@page
@model RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}

@section Styles {
    <link rel="stylesheet" href="~/site/css/account.css" />
}

<section class="d-flex justify-content-center align-items-center" style="height:100vh">
    <div class="login-container">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3>ثبت نام</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">    
                <input asp-for="UserViewModel.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="ایمیل" />
                <span asp-validation-for="UserViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="UserViewModel.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="رمز عبور" />
                <span asp-validation-for="UserViewModel.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="UserViewModel.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="تکرار رمز عبور" />
                <span asp-validation-for="UserViewModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-custom">ثبت نام</button>
            <div class="forgot-password">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">ورود</a>
            </div>
        </form>
    </div>
  
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
