<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <title>Diet</title>


    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="~/site/css/site.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/owl-carousel.css">

    @await RenderSectionAsync("Styles", required: false)


</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** --> 
                        <a href="index.html" class="logo">
                            Lava
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="menu-item">خانه</a></li>
                            <li class="scroll-to-section"><a href="#about" class="menu-item">درباره ما</a></li>
                            <li class="scroll-to-section"><a asp-page="/Regimens/Index" class="menu-item">رژیم ها</a></li>
                            <partial name="./_LoginPartial.cshtml"/>
                        </ul>


                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    @RenderBody()

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2024 Dietation | Designed by Kiana Baktash
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="~lib/proper/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugins -->
    <script src="~/lib/owl-carousel/owl-carousel.js"></script>
    <script src="~/lib/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/imgfix/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="~/lib/site/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>