@page
@model Diet.WebMVC.Pages.Regimens.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    @* <link rel="stylesheet" href="~/site/css/regimens.css" /> *@
}


<div class="regimens-section">
    <div class="container">

        <div class="mb-4">
            <input type="text" class="form-control" id="dietSearch" placeholder="جستجوی رژیم">
        </div>

        <div class="row" id="dietList">
            @foreach (var regimen in Model.Regimens.Items)
            {
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="regimen-entry">
                        <a asp-page="./Details" asp-route-id="@regimen.Id" class="regimen-thumbnail">
                            <img src="images/@regimen.Image" alt="Image"
                                 class="img-fluid">
                        </a>
                        <div class="regimen-content-entry">
                            <h3><a asp-page="./Details" asp-route-id="@regimen.Id">@regimen.Name</a></h3>
                            <div class="meta">@regimen.Price تومان</div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @await Html.PartialAsync("_PaginationPartial", Model.Regimens)
    </div>
</div>