@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
        Layout = parentLayout.ToString();
}

@section Styles {
    <link rel="stylesheet" href="~/site/css/user-profile.css" />
}

<div class="d-flex">
    <partial name="_ManageNav" />

    <div class="main-content flex-grow-1 p-4">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
