<nav class="sidebar navbar-dark bg-dark p-3">
    <div class="d-flex flex-column align-items-center mb-4">
        <img src="https://via.placeholder.com/80" alt="Profile Picture" class="rounded-circle mb-3">
        <h2 class="sidebar-title">پروفایل کاربری</h2>
    </div>
    <ul class="nav flex-column w-100">
        <li class="nav-item">
            <a class="nav-link text-white" asp-page="./Email">تغییر ایمیل</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-page="./ChangePassword">تغییر رمز عبور</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-page="./UserRegimens">رژیم های خریده شده</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-page="./DeletePersonalData">حذف اکانت</a>
        </li>
    </ul>
</nav>