@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="ViewModel.OldPassword" class="form-control" autocomplete="current-password" placeholder="رمز عبور قدیمی" />
                <label asp-for="ViewModel.OldPassword" class="form-label"></label>
                <span asp-validation-for="ViewModel.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ViewModel.NewPassword" class="form-control" autocomplete="new-password" placeholder="رمز عبور جدید" />
                <label asp-for="ViewModel.NewPassword" class="form-label"></label>
                <span asp-validation-for="ViewModel.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ViewModel.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="تکرار رمز عبور" />
                <label asp-for="ViewModel.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ViewModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">تغییر رمز عبور</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
