@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<form class="fade-in" method="post">
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

    <div class="mb-3">
        <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
        <label class="form-label">ایمیل فعلی</label>
    </div>

    <div class="mb-3">
        <input asp-for="ViewModel.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="لطفا ایمیل جدیدی وارد کنید." />
        <label asp-for="ViewModel.NewEmail" class="form-label"></label>
        <span asp-validation-for="ViewModel.NewEmail" class="text-danger"></span>
    </div>
    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">تغییر ایمیل</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
