@page
@model CreateModel

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food.Name" class="control-label">نام غذا</label>
                <input asp-for="Food.Name" class="form-control" />
                <span asp-validation-for="Food.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Calorie" class="control-label">کالری</label>
                <input asp-for="Food.Calorie" class="form-control" />
                <span asp-validation-for="Food.Calorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.PerAmount" class="control-label">در مقدار</label>
                <input asp-for="Food.PerAmount" class="form-control" />
                <span asp-validation-for="Food.PerAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
