@page
@model             EditRegimenModel

<h4>Regimen</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Regimen.Name" class="control-label"></label>
                <input asp-for="Regimen.Name" class="form-control" />
                <span asp-validation-for="Regimen.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regimen.Price" class="control-label"></label>
                <input asp-for="Regimen.Price" class="form-control" />
                <span asp-validation-for="Regimen.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regimen.Description" class="control-label"></label>
                <textarea asp-for="Regimen.Description" class="form-control" ></textarea>
                <span asp-validation-for="Regimen.Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Regimen.Id" />
            <input type="hidden" asp-for="Regimen.CreatedDate" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
